body{
    background-color: blanchedalmond;
    color:black;
    font-size: 30px;
    flex:auto;
}

#ins{
    margin-top: 130px;
    max-width: 5%;
    height: auto;
}

#mail{
    margin-top: 60px;
    max-width:3%;
    height: auto;
}

#home{
    width:20px;
    height:auto;
}

#list{
    text-align: center;
}