
div{
color:blanchedalmond;
text-align: center;
}

p{
text-align: center;
}

body{
    background-color: black;
}

#project-name{
    font-size: 50px;
    color:blanchedalmond;
}

#technique{
    font-size: 30px;
    color:blanchedalmond;
}

.resize{
    width:400px;
    height:auto;
    border-radius: 15%;
}

footer{
    color:blanchedalmond;
}

  
li {
    float: left;
    margin-top:10px;
    margin-right:60px;
  }

h2{
    color:blanchedalmond;
    text-align: center;
    font-size:80px;
}


#home{
    width:20px;
    height:auto;
}