body{
    background-color: black;
}
#icons{
    display:block;
}

#my-name{
    font-size:200px;
    color:blanchedalmond;
    text-align: center;
    margin:unset;

}

#headline{
    font-size:20px;
    color:blanchedalmond;
    text-align: center;
    margin: unset;
}

footer{
    color:blanchedalmond;
    margin-top:230px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 140px;
    margin-left:1100px;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: blanchedalmond;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

 a:hover{
     position: relative;
     display: inline-block;
     overflow: hidden;
     background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-size: 200% 100%;
     background-position: 100%;
     transition: background-position 275ms ease;
     text-decoration: none; 
    
     }
 