body{
    background-color: black;
}

div{
    margin-left: auto;
    margin-right: auto;
    width: 19em;
    margin-top:120px;
}

#resize{
    width: 300px;
    height:300px;
    border-radius: 15%;
}

p{
    color:blanchedalmond;
    text-align: center;
}


.text{
    color:blanchedalmond;
    text-align: center;
}

a:hover{
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none; 
    }